{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="section top blackbg">
  <div class="row long">
    <p class="section_title">Welcome back, <br /> {{user.username}}</p>
    <p>coach dashboard<p>
      
    <br />
    <hr>
    <div class="player_progress">
      <div class="level">
        <p>RANK <span>{{ user.level }}</span></p>
      </div>
      <div class="xp">
        <meter value="{{ user.xp }}" min="1" max="{{ user.xp }}"></meter>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <span class="section_title">My teams</span>
    <div class="section_content">
      {% for team in coached_teams %}
        <!-- Display team information and management options -->
        <a class="link light" href="{% url 'alterteam' team.id %}">{{ team.name }}</a></li>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <span class="section_title">My events</span>

    <!-- Events Component -->
    {% include 'components/event_feed.html' %}
  
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}