{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="section top blackbg">
  <div class="row long">
    <p class="section_title">Welcome back, {{user.username}}</p>
    <p>coach dashboard<p>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Event registrations</p>
    </div>
  </div>
  <div class="row long">
    <div class="event_form">
      <form method="post">
        {% csrf_token %}
        <div>
          <select name="event" id="event-selector">
              <option value="" disabled selected>Select an event</option>
              {% for event in events %}
                <option value="{{ event.id }}">{{ event.title }} ({{ event.date|date:"F j, Y" }})</option>
              {% endfor %}
          </select>
        </div>
        <div class="form_button">
          <input class="button" type="submit" value="Show Event Tickets">
        </div>
      </form>
    </div>
    {% if selected_event %}
    <p>Event: {{selected_event.title}} on {{selected_event.date}}</p>
    {% endif %}
  </div>
  <div class="row long">
    <div class="ticket_table">
      <table>
        <thead>
          <tr>
              <th>Event</th>
              <th>Player Full Name</th>
              <th>Player Age</th>
              <th>Player Grade</th>
              <th>Parent Full Name</th>
              <th>Parent Email</th>
              <th>Risk Checkbox</th>
          </tr>
        </thead>
        <tbody>
          {% for event_ticket in event_tickets %}
            <tr>
              <td>{{ event_ticket.camp.title }}</td>
              <td>{{ event_ticket.player_full_name }}</td>
              <td>{{ event_ticket.player_age }}</td>
              <td>{{ event_ticket.player_grade }}</td>
              <td>{{ event_ticket.parent_full_name }}</td>
              <td>{{ event_ticket.parent_email }}</td>
              <td>{{ event_ticket.risk_checkbox }}</td>
            </tr>
          {% endfor %}
       </tbody>
      </table>  
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Customization coming soon</p>
    </div>
  </div>
  <div class="row long">
    <p>"Thank you for your patience. If you have feedback, please <a class="link" href="mailto:letusknow@firstfiverugby.com">letusknow</a>." - FFR Software Team</p>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}