{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="section top blackbg">
  <div class="row long">
    <p class="section_title">Welcome back, <br /> {{user.username}}</p>
    <p>account dashboard</p>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Customization</p>
    </div>
  </div>
  <div class="row long">
    <a class="link light" href="{% url 'alterprofile' user.id %}">Edit profile</a>
    <a class="link light" href="{% url 'profile' user.username %}">View public profile</a>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}