{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<audio id="neon_sound">
    <source src="{% static 'audio/lightOn.mp3' %}" type="audio/mpeg">
</audio>
<div class="section top blackbg">
  <div class="row long">
    <div class="account_form">
      <div class="form_logo">
        <img id="neon_sign" src="https://i.imgur.com/XpV7sde.png" />
      </div>
      <span class="form_title">
        <p id="login_title">Welcome back</p>
      </span>
      <div class="form_fields">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button-link" type="submit">Login</button>
        </form>
      </div>
      <span>Don't have an account? <a class="link" href="{% url "signup" %}">Sign up</a></span>
    </div>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}