{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/members.css' %}">
{% endblock %}

{% block content %}
<div class="section top blackbg">
  <div class="row long">
  <hr>
  <p class="section_title">Members ({{member_count}})</p>
    <ul class="members_list">
      {% for user in users %}
      <li><a class="link light" href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}