{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<section class="hero-section">
    <div class="grid-container">
      <h1>Catalog</h1>
      <p>Win vintage items at auction, purchase direct team orders from CCC, and see daily deals from WorldRugbyShop.</p>
    </div>
  </section>

  <section class="product-grid">
    <div class="grid-container">
      <div class="grid-x grid-margin-x small-2 medium-up-3">

        <!-- Repeat this block for each product -->
        <div class="cell">
          <div class="card product-card">
            <div class="card-divider">
             	Hurricanes
            </div>
            <img src="https://classicshirts.co.za/cdn/shop/products/image_c319a9d3-bc58-483a-82d8-e3eea1c3e3a5.jpg?v=1664014243" alt="Product Image">
            <div class="card-section">
              <p>Experience the thrill of the game with this authentic Hurricanes jersey. Its vibrant design captures the spirit of the team, making you feel part of the action whether you're in the stands or on the street.</p>
              <p>Price: $100</p>
              <a href="#" class="button">Purchase</a>
            </div>
          </div>
        </div>
        <!-- End of product block -->

				<div class="cell">
          <div class="card product-card">
            <div class="card-divider">
             	Hurricanes
            </div>
            <img src="https://classicshirts.co.za/cdn/shop/products/image_c319a9d3-bc58-483a-82d8-e3eea1c3e3a5.jpg?v=1664014243" alt="Product Image">
            <div class="card-section">
              <p>Experience the thrill of the game with this authentic Hurricanes jersey. Its vibrant design captures the spirit of the team, making you feel part of the action whether you're in the stands or on the street.</p>
              <p>Price: $100</p>
              <a href="#" class="button">Purchase</a>
            </div>
          </div>
        </div>

				<div class="cell">
          <div class="card product-card">
            <div class="card-divider">
             	Hurricanes
            </div>
            <img src="https://classicshirts.co.za/cdn/shop/products/image_c319a9d3-bc58-483a-82d8-e3eea1c3e3a5.jpg?v=1664014243" alt="Product Image">
            <div class="card-section">
              <p>Experience the thrill of the game with this authentic Hurricanes jersey. Its vibrant design captures the spirit of the team, making you feel part of the action whether you're in the stands or on the street.</p>
              <p>Price: $100</p>
              <a href="#" class="button">Purchase</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
