{% extends 'base.html' %}
{% load static %}

<!-- page stylesheet -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

<!-- page content -->
{% block content %}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>World Rugby Direct Team Kit Sales</h3>
      <img src="{% static 'product_images/custom_kits.png'%}" />
    </div>
  </div>
  <div class="grid-x align-center">
    <div class="cell large-8">
      <h3>Comeback to this form after viewing the catalog.</h3>
      <p>A sales representative is ready just for you and your team.</p>
      <p>* There's one at the bottom too if you want to use that one!</p>
    </div>
  </div>
  <div class="grid-x align-center">
    <div class="cell large-6">
      <form method="post" action="{% url 'wrs_catalog' %}">
        {% csrf_token %}
          
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>

          <label for="message">
            Message
            <textarea id="message" name="message" placeholder="Tell us what you are interested in?"></textarea>
          </label>

          <label for="phone">Cell</label>
          <input type="text" id="phone" name="phone" required>

          <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </div>

  <br />
  <hr />
  <div class="grid-x align-center">
    <div class="cell large-6">
      <h2>Did you see something you like?</h2>
      <p>Let us know and a sales representative will be in touch!</p>
      <form method="post" action="{% url 'wrs_catalog' %}">
        {% csrf_token %}
          
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>

          <label for="message">
            Message
            <textarea id="message" name="message" placeholder="Tell us what you are interested in?"></textarea>
          </label>

          <label for="phone">Cell</label>
          <input type="text" id="phone" name="phone" required>

          <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </div>

  <br />
  <br />
 

</div> <!-- grid-continer end -->
{% endblock %}

<!-- page javascript -->
{% block customjs %}
{% endblock %}