{% extends 'base.html' %}
{% load static %}

<!-- page stylesheet -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

<!-- page content -->
{% block content %}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>World Rugby Direct Team Kit Sales</h3>
      <img src="{% static 'product_images/custom_kits.png'%}" />
    </div>
  </div>
  <div class="grid-x align-center">
    <div class="cell large-8">
      <h3>Comeback to this form after viewing the catalog.</h3>
      <p>A sales representative is ready just for you and your team.</p>
      <p>* There's one at the bottom too if you want to use that one!</p>
    </div>
  </div>
  <div class="grid-x align-center">
    <div class="cell large-6">
      <form method="post" action="{% url 'wrs_catalog' %}">
        {% csrf_token %}
          
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>

          <label for="message">
            Message
            <textarea id="message" name="message" placeholder="Tell us what you are interested in?"></textarea>
          </label>

          <label for="phone">Cell</label>
          <input type="text" id="phone" name="phone" required>

          <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </div>

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Game day <span class="keyword">MTO</span> Jerseys</h3>
      <p>[6-8 weeks for MTO jersey orders]</p>
      <img src="{% static 'product_images/mto_jerseys.jpg'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Game day <span class="keyword">STOCK</span> Jerseys</h3>
      <p>[2 weeks for STOCK jersey orders]</p>
      <img src="{% static 'product_images/stock_jerseys.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Our <span class="keyword">PARTNER</span> Jersey Gallery</h3>
      <img src="{% static 'product_images/partners1.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>More <span class="keyword">PARTNER</span> Game Designs</h3>
      <img src="{% static 'product_images/partners2.png'%}" />
    </div>
  </div> <!-- grid-x end -->
  
  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Featuring <span class="keyword">PARTNER</span> Cotton Long Sleeve & Weather Tops</h3>
      <img src="{% static 'product_images/partners3.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Training <span class="keyword">PARTNER</span> Singlets & Shorts</h3>
      <img src="{% static 'product_images/partners4.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Match Day <span class="keyword">MTO</span> Shorts</h3>
      <p>[6-8 weeks for MTO short orders]</p>
      <img src="{% static 'product_images/mto_shorts.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Match Day <span class="keyword">STOCK</span> Shorts</h3>
      <p>[2 weeks for MTO short orders]</p>
      <img src="{% static 'product_images/stock_shorts.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Training <span class="keyword">MTO</span> Kit</h3>
      <p>[6-8 weeks for MTO Training Kit orders]</p>
      <img src="{% static 'product_images/mto_training.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Training <span class="keyword">STOCK</span> Kit</h3>
      <p>[2 weeks for STOCK orders]</p>
      <p>*coming 2024</p>
      <img src="{% static 'product_images/stock_training.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Travel & Leisure <span class="keyword">MTO</span> Kit</h3>
      <p>[8-10 weeks for MTO orders]</p>
      <img src="{% static 'product_images/travel_tops.png'%}" />
      <img src="{% static 'product_images/travel_tops2.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Travel & Leisure <span class="keyword">MTO</span> Kit</h3>
      <p>[8-10 weeks for MTO orders]</p>
      <img src="{% static 'product_images/travel_stock.png'%}" />
    </div>
  </div> <!-- grid-x end -->
 
  <br />
  <hr /> 
  <div class="mto_section grid-x">
    <div class="cell">
      <h3>Bulk <span class="keyword">DISCOUNTED</span> Training Gear</h3>
      <img src="{% static 'product_images/bulkstuff.png'%}" />
    </div>
  </div> <!-- grid-x end -->

  <br />
  <hr />
  <div class="grid-x align-center">
    <div class="cell large-6">
      <h2>Did you see something you like?</h2>
      <p>Let us know and a sales representative will be in touch!</p>
      <form method="post" action="{% url 'wrs_catalog' %}">
        {% csrf_token %}
          
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>

          <label for="message">
            Message
            <textarea id="message" name="message" placeholder="Tell us what you are interested in?"></textarea>
          </label>

          <label for="phone">Cell</label>
          <input type="text" id="phone" name="phone" required>

          <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </div>

  <br />
  <br />
 

</div> <!-- grid-continer end -->
{% endblock %}

<!-- page javascript -->
{% block customjs %}
{% endblock %}