# Django specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Ignore npm dependencies
/node_modules

# Secret keys
*.secret

# Media files
media/

# Static files
static*/

# Database files
*.sqlite3

# Environment variables
.env
.venv

# my service files
systemd/
logs/

# Development tools and configurations
.vscode/
.idea/
*.bak
*.swp
*.swo
*~