asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.3
django-appconf==1.0.5
django-autoreload==0.1.1
django-compressor==4.4
django-extensions==3.2.3
django-libsass==0.9
ebaysdk==2.2.0
gunicorn==20.1.0
idna==3.4
libsass==0.22.0
lxml==4.9.3
Pillow==9.5.0
psycopg2==2.9.6
pyinotify==0.9.6
python-dotenv==1.0.0
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==2.0.4
watchdog==3.0.0
websocket-server==0.6.4
