{% include 'base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

 <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle text-center">
    
      <div class="cell text-center small-12 medium-6"> 
        <img src="{% static 'images/logon.gif'%}" alt="hero image">
      </div>

      <div class="cell small-12">
        <h1 class="h2">Log On</h1>
        <p>Welcome back to the First Five Rugby Platform.</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x align-middle">
      <div class="cell small-12">
        <form method="post">
          {% csrf_token %}
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username"><br>
          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password"><br>
          <a class="button" href="#">Validate</a>
          <a href="{% url 'signup' %}" class="small-12">Create an account.</a> 
        </form>
      </div>
    </div>
  </div>
 </div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}


