{% include 'base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center text-center">
  
    <div class="cell text-center small-12 medium-6"> 
      <img src="{% static 'images/logon.gif'%}" alt="hero image">
    </div>

    <div class="cell small-12">
      <h1 class="h2">Sign Up</h1>
      <p>Welcome to the First Five Rugby Platform.</p>
    </div>
  </div>

<div class="authforms">
  <div class="grid-x align-center">
    <form>
      <div class="formfields grid-y align-center">
        <div class="small-12">
          <label>Username
            <input type="text" placeholder="richie_mccaw07">
          </label>
        </div>
        <div class="small-12">
          <label>Password
            <input type="password" placeholder="gab123*">
          </label>
        </div>
        <div class="small-12">
          <label>Re-enter Password
            <input type="password" placeholder="******">
          </label>
        </div>

        <div class="small-12">
          <label>Email
            <input type="email" placeholder="richiemaccaw@allblacks.com">
          </label>
        </div>

        <div class="small-12">
          <label>Cell Number
            <input type="text" placeholder="555-555-5555">
          </label>
          <a class="button" href="#">Initialize</a>
        </div>
        

        <!-- create an account -->
        <a href="{% url 'login' %}" class="small-12">Already registered?</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}



{% block customjs %}
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}