{% load static %}

<!-- Insert css file for this template -->
{% block mycss %}
<link href="{% static 'css/header.css' %}" rel="stylesheet" />
<link href="{% static 'css/motd.css' %}" rel="stylesheet" />
{% endblock %}
 
<div class="container">
  <div class="titleSection animate__animated animate__fadeInDown">
    <h1 class="title">{{ pageTitle }}</h1>
    <p class="subtitle">{{ pageSubtitle }}</p>

    {% if nav %}
      <p class="centerMe"><a href="{% url 'index' %}"><img class="animate__animated animate__flip" src="{% static 'assets/f5logo.png' %}" /></a></p>
    {% endif %}
</div>

  {% if motd %}
  {%include 'components/motd.html'%}
  {% endif %}
</div>