{% load static %}

<!-- Insert css file for this template -->
{% block mycss %}
<link href="{% static 'css/header.css' %}" rel="stylesheet" />
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
<link href="{% static 'css/motd.css' %}" rel="stylesheet" />
{% endblock %}


 
<div class="container">
  <div class="titleSection animate__animated animate__fadeInLeft">
    <h1 class="title">{{ pageTitle }}</h1>
    <p class="subtitle">{{ pageSubtitle }}</p>
  </div>

  <!-- navigation bar -->
  {%include 'components/navbar.html'%}

  {% if motd %}
  {%include 'components/motd.html'%}
  {% endif %}
</div>