<!-- menu -->
<div class="container">
  <nav class="navigationBar">
    <ul class="navigationLinks">

      <div class="platformNavSection">   
        <li class="navigationItem{% if location == 'home' %} activeLink{% endif %}"><a href="{% url 'index' %}">Home</a></li>
        <li class="navigationItem{% if location == 'about' %} activeLink{% endif %}"><a href="{% url 'about' %}">About Us</a></li>
        <li class="navigationItem{% if location == 'catalog' %} activeLink{% endif %}"><a href="{% url 'catalog' %}">Catalog</a></li>
      </div>

      <div class="servicesNavSection">
        <li class="navigationItem{% if location == 'camps' %} activeLink{% endif %}"><a href="{% url 'camps' %}">Rugby Camps</a></li>
        <li class="navigationItem{% if location == 'tours' %} activeLink{% endif %}"><a href="{% url 'tours' %}">Team Tours</a></li>
        <li class="navigationItem {% if location == 'schedule' %} activeLink{% endif %} inactiveLink"><a href="#">ALL Schedules</a></li>
      </div> 

      <div class="passthroughNavSection">
        <li class="navigationItem {% if location == 'wrs' %} activeLink{% endif %} inactiveLink"><a href="#">World Rugby Shop</a></li>
        <li class="navigationItem {% if location == 'canterbury' %} activeLink{% endif %} inactiveLink"><a href="#">Canterbury Kit</a></li>
        <li class="navigationItem {% if location == 'enitor' %} activeLink{% endif %} inactiveLink"><a href="#">Enitor Advising</a></li>
      </div>

    </ul>
  </nav>
</div>
