<!-- load static context -->
{% load static %}

<div class="navbar grid-x">
  <div class="navcell cell">
    <ul class="navlist align-center">
      <li class="navlink hidden"><a href="#">home</a></li>
      <li class="navlink hidden"><a href="#">about</a></li>
      <li class="navlink hidden"><a href="#">catalog</a></li>
      <li class="navlink hidden"><a href="#">help</a></li>
    </ul>
  </div>
</div>

<div class="message-cell grid-x align-center">
  <div class="cell small-10i text-center">
    <p class="message">Catalog now featuring WRS team orders, custom caps, & vintage alumni jerseys.<sup>f5</sup>
      <a id="message-link" href="#">Shop Items ></a></p>
  </div>
</div>