<!-- load static context -->
{% load static %}

<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Explore</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">First Five Rugby</li>
      <li><a class="{% if activelink == 'home' %}active{% endif %}" href="{% url 'about' %}">Home</a></li>
      <li><a class="{% if activelink == 'camps' %}active{% endif %}" href="{% url 'camps' %}">Camps</a></li>
      <li><a class="{% if activelink == 'tours' %}active{% endif %}" href="{% url 'tours' %}">Tours</a></li>
      <li><a class="{% if activelink == 'catalog' %}active{% endif %}" href="{% url 'about' %}">Catalog</a></li>
      <li class="has-submenu">
        <a href="#0">Resources</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a class="{% if activelink == 'enitor' %}active{% endif %}" href="#0">Enitor</a></li>
          <li><a class="{% if activelink == 'rugbyiq' %}active{% endif %}" href="#0">RugbyIQ</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="has-submenu">
        <a href="#0">User</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a class="{% if activelink == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
  

</div>
