{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/league.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>{{league.title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Watch on the web</p>
        <br/>
      </div>
      <div class="right">
        <div class="points">
          <ul class="tour_list">
            <li><a target=”_blank” class="link" href="https://www.rugbypass.com/">Rugby Pass</a></li>
            <li><a target=”_blank” class="link" href="https://www.therugbynetwork.com/">The Rugby Network</a></li>
            <li><a target=”_blank” class="link" href="https://www.peacocktv.com/sports/rugby">Peacock Rugby</a></li>
            <li><a target=”_blank” class="link" href="https://rugbystreams.me/">Reddit Community</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Ticket sales</p>
        <div class="points">
          <p>Don't miss out on this unforgettable rugby event! Get your tickets today for live bands and an interactive app, making it a revolutionary sports and entertainment experience. Join us on the field for an amazing time!</p>
        </div>
        
        <br/>
        <p><a class="button-link light" href="https://buy.stripe.com/test_3cs2aoeIH2Od3v24gm">Buy match tickets</a></p>
      </div>
      <div class="right">
        <img src="https://media3.giphy.com/media/uocECf7Pj6RPffZUEb/giphy.gif" />
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Standings</p>
      <p>View team pages by clicking on a row below.</p>
    </div>
  </div>

  <div class="row long">
    <div class="ticket_table">
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams %}
            <tr data-href="{% url 'team' team.id %}">
              <td>{{ team.rank }}</td>
              <td>{{ team.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">League apparel</p>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/league.js' %}"></script>
{% endblock %}