{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/matchdetails.css' %}">
{% endblock %}

{% block content %}
<div id="match_details" class="banner">
  <!-- Display match details at the top -->
  <div class="section top">
    <div class="row long">
      <div class="feature">
        <div class="context match_details">
          <span>{{match.team1.name}} VS </span>
          <span>{{match.team2.name}}  </span>
          <span class="date_played">{{ match.date|date:"l, d F Y" }}</span>
          <span class="score">{{match.team1_score}} to {{match.team2_score}} </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <p class="section_title">Game events</p>
    <div class="ticket_table">
      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Event Type</th>
            <th>Minute</th>
          </tr>
        </thead>
        <tbody>
          {% for event in match_events %}
            <tr>
              <td>{{ event.player.first_name }} {{ event.player.last_name }}</td>
              <td>{{ event.event_type }}</td>
              <td>{{ event.minute }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/teamtabs.js' %}"></script>
{% endblock %}