{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Recruiting</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">American rugby players</p>
        <p class="section_review">Calling all young American rugby enthusiasts! Our platform is recruiting talented kids for a unique experience—playing rugby while studying abroad. We offer elite training, academic excellence, and cultural immersion.</p>
      </div>
      <div class="right">
        <img src="https://i.imgur.com/qtu8Msv.png" />
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/teams.js' %}"></script>
{% endblock %}