{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Transforming clubs and coaches through the web.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Recent matches</p>
      <a class="link light" href="{% url 'matches' %}">view all matches</a>
    </div>
  </div>

  <div class="row long">
    <div class="match_list">
      {% for date, matches in grouped_matches.items %}
      <span class="date"><strong>{{ date|date:"l, " }}</strong>{{ date|date:"d F Y" }}</span>
        {% for match in matches %}
         <div class="match" data-href="{% url 'matchdetails' match.id %}">

            <div class="match_date">
              <span><strong>{{ date|date:"l, " }}</strong><br />{{ date|date:"d F" }}</span>
            </div>

            <div class="match_crests">
              <span class="crest"><img src="{{match.team1.crest}}" /></span>
              <span class="crest"><img src="{{match.team2.crest}}" /></span>
            </div>

             <div class="match_teams">
              <span><a class="link" href="{% url 'team' match.team1.id %}">{{ match.team1.name }}</a></span>
              <span><a class="link" href="{% url 'team' match.team2.id %}">{{ match.team2.name }}</a></span>
            </div>

            <div class="match_scores">
              <span>{{ match.team1_score }}</span>
              <span>{{ match.team2_score }}</span>
            </div>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Choose category</p>
      <a class="link light" href="{% url 'teams' %}">view all leagues</a>
    </div>
  </div>
  <div class="row long">
    <ul>
       {% for league in leagues %}
        <li><a class="link" href="{% url 'league' league.id %}">{{ league.title }}</a></li>
        {% endfor %}
    </ul> 
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Host your team</p>
        <p class="section_review">Elevate your team's online presence and keep your audience engaged like never before. Deliver live updates from your schedule, capture every game event, and meticulously track player statistics. </p>
        
        <br/>
        <p><a class="button-link light" href="{% url "players" %}">See pricing plans</a></p>
      </div>
      <div class="right">
        <img src="https://i.imgur.com/qtu8Msv.png" />
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Coming soon.</p>
    </div>
  </div>
  <div class="row long">
    <p>"Thank you for your patience. If you have feedback, please <a class="link light" href="mailto:letusknow@firstfiverugby.com">letusknow</a>." - FFR Software Team</p>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/teams.js' %}"></script>
{% endblock %}