<!-- Extend the base  HTML template -->
{% extends 'base.html'%}

<!-- Enable the static context -->
{% load static %}

<!-- Import Canterbury styles page -->
{% block mycss %}
<link href="{% static 'css/catalog.css' %}" rel="stylesheet" />
{% endblock %}

<!-- Enable the header component -->
{% block header %}
  {% include 'components/header.html' %}
{% endblock %}

<!-- CCC html page content -->
{% block content %}
<div class="container">
  <div class="centered-div">
    <p></p>
  </div>
</div>
{% endblock %}