{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block mycss %}
<link href="{% static 'css/catalog.css' %}" rel="stylesheet" />
{% endblock %}


{% block header %}
  {% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="centered-div">
    <p style="text-align: center; color: white;">Coming soon. Accounts available [07/06/23]</p>
    <p><img src="https://i.giphy.com/media/rxmO8DOc3I86s/giphy.webp" alt="spinning rugby player"></p>
  </div>
</div>
{% endblock %}
