{% extends 'base.html'%}
{% load static %}

{% block header %}
  {% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <img width="100%" src="{% static 'assets/caps/capsbg2.png'%}" /> 

  <!-- google form outside of 80% width container -->
  <iframe class="responsive-google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSfG0mkkhXiBiFnAjImC7ZCOrXrjPGr5T2cluKqGUeA2Qp4A9A/viewform" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>
{% endblock %}
