{% extends 'base.html' %}
{% load static %}

<!-- page stylesheet -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/auction.css' %}">
{% endblock %}

<!-- page content -->
{% block content %}

<div class="container">
  <div class="auction-page">
  <iframe width="100%" height="100%" src="https://www.ebay.com/usr/firstfiverugby" title="first five rugby jerseys"></iframe>
  </div>
</div>

{% endblock %}

<!-- page javascript -->
{% block customjs %}
 <script src="{% static 'js/index.js' %}"></script>
{% endblock %}