{% extends 'base.html' %}
{% load static %}

<!-- page stylesheet -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

<!-- page content -->
{% block content %}

<div class="container">
    <div class="header">
        <h1 class="page-title">Honor Caps. <span class="subtitle">Embrace the tradition.</span></h1>
    </div>

    <div class="lr-section">
        <div class="cap-image">
            <img src="{% static 'images/nova-cap-front.png' %}" />
        </div>
        
        <div class="context">
            <h2>Start your team legacy today!</h2>
            <h3 class="subtitle">Customize logo, trim / base colors, and text. <br> Free designs available upon request.</h3>
        </div>
    </div>

    </div>
    
    <div class="caps-form">
        <h2>Get free quote below.</h2>
        <form method="post" action="{% url 'caps' %}">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email"><br>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone"><br>

        <button type="submit" class="button">Submit</button>
      </form>

      <div class="portfolio">
        <div class="showcase">
            <h2 class="showcase-title">Honor your teammates. <span class="subtitle">First XV squad, Hall of Fame, or any ceremony.</span></h2>
            <img src="{% static 'images/presentation-nova.png' %}" />
            <p class="showcase-description">Nova WRFC's 40th Anniversary Hall of Fame Induction.</p>
        </div>
      </div>
    </div>

{% endblock %}

<!-- page javascript -->
{% block customjs %}
 <script src="{% static 'js/index.js' %}"></script>
{% endblock %}



