{% extends 'base.html' %}
{% load static %}

<!-- page stylesheet -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

<!-- page content -->
{% block content %}

<!-- Top Message Bar -->
{% comment %} <div class="message-cell grid-x align-center">
  <div class="cell text-center">
    <p class="message">Create a custom kit package with gameday gear, training options, and travel essentials.<sup>f5</sup>
    </p>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8 large-6">
      <h2 id="catalog-title" class="h3 cell-title hidden pre-left delaymelonger from-left-or-right">The Latest. <span class="subtitle">Take a look at what's new right now.</span></h2>
      <a id="catalog-link" href="{% static 'catalog/wrs_catalog_tiny.pdf' %}" download>Download Offline Catalog</a> ↓
    </div>
  </div> {% endcomment %}

<div class="header">
  <h1 class="page-title">CCC Catalog</h1>
</div>
 
<div class="padded-block">
  <div class="gameday-header">
    <h2 class="sub-title">Gameday Jersey</h2>
    <ul class="horizontal-list">
      <li class="horizontal-item">
        <img class="jersey-image" src="{% static 'catalog/products/papare_jersey.png' %}" />
      </li>
      <li class="horizontal-item">
        <img class="jersey-image" src="{% static 'catalog/products/raiona_jersey.png' %}" />
      </li>
      <li class="horizontal-item">
        <img class="jersey-image" src="{% static 'catalog/products/maka_jersey.png' %}" />
      </li>
    </ul>
  </div>
</div>

<div class="padded-block">
  <div class="warmup-header">
    <h2 class="sub-title">Warmup T-Shirts</h2>
    <ul class="horizontal-list">
      <li class="horizontal-item">
        <img class="jersey-image" src="{% static 'catalog/products/papare_jersey.png' %}" />
      </li>
      <li class="horizontal-item">
        <img class="jersey-image" src="{% static 'catalog/products/raiona_jersey.png' %}" />
      </li>
      <li class="horizontal-item">
        <img class="jersey-image" src="{% static 'catalog/products/maka_jersey.png' %}" />
      </li>
    </ul>
  </div>
</div>

  {% comment %} <div class="asection grid-x grid-margin-x grid-margin-y">
    <div class="cell medium-4 large-3 hidden pre-left">
      <div class="product-card text-center">
        <h4 class="product-title">Papare</h4>
        <img style="width:60%;" src="{% static 'catalog/products/papare_jersey.png' %}" />
        <p class="product-desc"></p>
      </div>
    </div>
    <div class="cell medium-4 large-3 hidden pre-left">
      <div class="product-card text-center">
        <h4 class="product-title">Raiona</h4>
        <img style="width:60%;" src="{% static 'catalog/products/raiona_jersey.png' %}" />
        <p class="product-desc"></p>
      </div>
    </div>
    <div class="cell medium-4 large-3 hidden pre-left">
      <div class="product-card text-center">
        <h4 class="product-title">Maka</h4>
        <img style="width:60%;" src="{% static 'catalog/products/maka_jersey.png' %}" />
        <p class="product-desc"></p>
      </div>
    </div>
    <div class="cell medium-4 large-3 hidden pre-left">
      <div class="product-card text-center">
        <h4 class="product-title">Kaha</h4>
        <img style="width:60%;" src="{% static 'catalog/products/kaha_jersey.png' %}" />
        <p class="product-desc"></p>
      </div>
    </div>
  </div>
  <p class="announce">*catalog is under construction; more features coming soon.
    <br />- deal of the week!
    <br />- custom team honor caps.
    <br />- vintage jersey auction.
  </p>

  <div class="asection grid-x">
    <div class="cell large-6">
      <h4>Order Today. <span class="subtitle">Our sales representatives are ready for you.</span></h4>
      
      <div class="cell large-3">
        <ul>
          <li>Tim Brown</li>
          <li>tbrown@worldrugbyshop.com</li>
          <li>202-503-6415</li>
        </ul>
        <ul>
          <li>Eric Milner</li>
          <li>emilner@worldrugbyshop.com</li>
          <li>256-613-9892</li>
        </ul>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}

<!-- page javascript -->
{% block customjs %}
 <script src="{% static 'js/index.js' %}"></script>
{% endblock %}



