{% extends 'base.html' %}
{% load static %}

<!-- page stylesheet -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

<!-- page content -->
{% block content %}

<div class="container">
  <div class="header">
    <h1 class="page-title">CCC & WRS 23' Catalog. <span class="subtitle">Explore top products.</span></h1>
  </div>

  <div class="catalog-option">
    <h3 class="option-title">Bulk Team Orders. <span class="subtitle">Choose any design, colors, and needs.</span></h3> 
    <p class="option-note">These options are only a few of what is available through our partners.<a target="_blank" href="{% static 'catalog/wrs_catalog_tiny.pdf' %}" download>
      Full Catalog Here
    </a></p>
    
    <div class="option-gallery">
      <div class="product-card">
        <img src="{% static 'catalog/products/maka_jersey.png' %}" />
        <h3 class="product-title">Game Day Kit</h3>
        <p class="product-desc">Customize the look and feel of your gameday kit.</p>
      </div> 

      <div class="product-card">
        <img src="{% static 'catalog/products/leisure_tops.png' %}" />
        <h3 class="product-title">Travel Options</h3>
        <p class="product-desc">Leisure and travel gear for teams.</p>
      </div> 

      <div class="product-card">
        <img src="{% static 'catalog/products/ccc_contact_jersey.png' %}" />
        <h3 class="product-title">Training Gear</h3>
        <p class="product-desc">Coaches and clubs can purchase bulk gear.</p>
      </div> 

      <div class="product-card">
        <img src="{% static 'catalog/products/baby_dragon_jersey.png' %}" />
        <h3 class="product-title">Custom Designs</h3>
        <p class="product-desc">For special events or in season kit.</p>
      </div> 
    </div>
  </div>

  <div class="catalog-option">
    <h3 class="option-title">Our Partners. <span class="subtitle">Gain the Canterbury Advantage.</span></h3> 
    <p class="option-note">Direct team sales means you can get the details right for your team and let us handle the rest.</p>

    <div class="option-gallery">
      <div class="product-card">
        <img src="{% static 'catalog/products/harvard.png' %}" />
        <h3 class="product-title">Harvard</h3>
        <p class="product-desc">True scholars of the game. Classic red and black.</p>
      </div> 

      <div class="product-card">
        <img src="{% static 'catalog/products/army.png' %}" />
        <h3 class="product-title">Army</h3>
        <p class="product-desc">Simple solid color. Ready for anything that comes their way.</p>
      </div> 

      <div class="product-card">
        <img src="{% static 'catalog/products/umw.png' %}" />
        <h3 class="product-title">Mary Washington</h3>
        <p class="product-desc">Modern and tight fitting with clear room for sponsors.</p>
      </div> 

      <div class="product-card">
        <img src="{% static 'catalog/products/lindenwood.png' %}" />
        <h3 class="product-title">Lindenwood</h3>
        <p class="product-desc">Capture the classic game feel with a collar option.</p>
      </div> 

      </div> 
    </div>
  </div>
</div>
{% endblock %}

<!-- page javascript -->
{% block customjs %}
 <script src="{% static 'js/index.js' %}"></script>
{% endblock %}



