{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block customcss %}
<link href="{% static 'css/tours.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="globe-banner">
      <div class="globe-title">
        <h1>Globetrotter. <span class="subtitle">Travel with the experts.</span></h1>
      </div>
    </div>

    <div class="globe-promo">
      <div class="globe-image">
       <img src="{% static 'images/globetrotter_logo.jpg' %}" />
      </div>
      <div class="globe-link">
        <h2 class="tour-title">Travel moves us. Preview our sponsors below, or visit them <a href="https://www.globetrotter.ch/">here.</a></h2>
      </div>
    </div>

    <iframe width="100%" height="500px" src="https://www.globetrotter.ch/" title="globetrotter"></iframe>
  </div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}