{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block customcss %}
<link href="{% static 'css/tours.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="camps-banner">
    <div class="camp-title">
      <h1>Ireland Team Tours</h1>
      <p>Experience the Culture.</p>
    </div>
  </div>

  <div class="upcoming-section">
    <h3>Upcoming Tours</h3>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}