{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block mycss %}
<link href="{% static 'css/header.css' %}" rel="stylesheet" />
<link href="{% static 'css/camps.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
  {% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
	  <img class="sectionImageLeft" src="{% static 'assets/camps/andybg.png' %}" alt="andy skehan" />
    <p class="sectionTextRight">Join the Baltimore Rugby Camp, led by renowned coach Andy Skehan! Experience 5 days of intensive rugby training, skill development, and expert coaching. Don't miss this incredible opportunity to take your game to new heights! Register now and unlock your rugby potential! </p>
  </div> 

  <dic id="campsSection" class="section">
  <a class="campslink" href="https://checkout.stripe.com/c/pay/cs_live_a1fQ9TEx8FIndIL6hyEyFn50PnUnfw4RtkPceVhPqDbmjDwLAZEZwkAJML#fidkdWxOYHwnPyd1blppbHNgWjA0Sz1EZGtDMWpofV03X0YyQkhgcj1hRnBhTmlwTWBhN1JmcHJff1RrVEFKZDdkbEZcS2d2T2hwfGhnbzN8dHRpcm9OcGdvSF9DUH9mcDJUZmFQSm40bzdINTVnTHR0YGpUaicpJ3VpbGtuQH11anZgYUxhJz8nPERUNTQyNENnYnxrMVRqPEREJ3gl" target="_blank">Send Secure Payment via Stripe</a></div>
</div>

<!-- google form outside of 80% width container -->
<iframe class="responsive-google-form" src="https://docs.google.com/forms/d/e/1FAIpQLSddTKBlBgTfOoxSfCjuqaWJzcxjwyHeulLcOkULt5iigE_uIQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endblock %}
