{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block mycss %}
<link href="{% static 'css/camps.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="grid-x align-center hero-accordion">
  <div class="cell small-12 medium-10 large-8">
    <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Camp Info</a>
        <div class="accordion-content" data-tab-content>
          <h3>Baltimore Area All-Star Rugby Skills Camp</h3>
          <ul>
            <li>Save the Date: July 24-27</li>
            <li>Registration for all players is open!</li>
            <li>All participants receive a CCC tee and are entered to win CCC prizes daily</li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Camp Highlights</a>
        <div class="accordion-content" data-tab-content>
          <h3>Camp Highlights</h3>
          <ul>
            <li>Individual coaching on core skills</li>
            <li>Hundreds of reps with skill-building progression focusing on seeing the entire field, spacing, and timing</li>
            <li>Feedback and evaluation shared with your team coach</li>
            <li>Prizes and raffles daily</li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Staff</a>
        <div class="accordion-content" data-tab-content>
          <h3>Staff</h3>
          <ul>
            <li>Andy Skehan (DOR of St Michael's College, former Leinster u18's Head Coach, advisor to national unions)</li>
            <li>Tim Brown (Strong Lad Rugby, former Operations Manager / Director of Old and Young Glory)</li>
            <li>Gearoid Dunbar (Leinster Community Rugby, UMW Director of Operations and Coach, Young Glory)</li>
            <li>Jose Reyes (Old Glory / Young Glory u23)</li>
            <li>Joseph Ritter (Young Glory u23/MD Exiles)</li>
            <li>MLR Player TBD</li>
            <li>MLR Player TBD</li>
            <li>Numerous local coaches</li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Important Notes</a>
        <div class="accordion-content" data-tab-content>
          <h3>Important Notes</h3>
          <ul>
            <li>All coaches and boys 14-18 are invited & must sign releases.</li>
            <li>Don't worry, we have something planned for womens rugby soon.</li>
            <li>Proof of current insurance is required</li>
            <li>For any questions, email rugbyvarsity@gmail.com</li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Location and Schedule</a>
        <div class="accordion-content" data-tab-content>
          <h3>Location and Schedule</h3>
          <ul>
            <li>Location: Loyola Blakefield</li>
            <li>Date: Monday, July 24 - Thursday, July 27</li>
            <li>Time: 4:00 PM - 10:00 PM each day</li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Registration</a>
        <div class="accordion-content" data-tab-content>
          <h3>Registration</h3>
          <ul>
            <li class="alert">Be aware, you will be sent an email with medical forms and payment details.</li>
            <li>Registration is open now with 7 spots left!</li>
            <li>All releases must be filled out and payment made in full to be registered</li>
            <li>Cost: $325 for players, $150 for coaches</li>
          </ul>

          <!-- Registration form -->
          {% if not registered %}
          <form action="#" method="post">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 medium-4">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
              </div>
              <div class="cell small-12 medium-4">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
              </div>
              <div class="cell small-12 medium-4">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" required>
              </div>
            </div>

            <div class="grid-x grid-margin-x">
              <div class="cell small-12">
                <button type="submit" class="button">Submit</button>
              </div>
            </div>
          </form>
          {% else %}
          <div data-toggler data-animate="fade-in fade-out" class="callout warning">
            <p>Form available 15:55 EST 7/12/23.</p>
          </div>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Insert footer -->
{% include 'components/footer.html' %}

{% endblock %}


