{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/research.css' %}">
{% endblock %}

{% block content %}
<div class="section top backtan">
  <div class="row long">
    <div class="feature">
      <div class="left">
        <span>Explore our company's story and mission.</span>
      </div>
      <div class="right">
        <span class="description">Passionate about rugby, we're dedicated to building a holistic community platform for the sport we love. Drawing from our shared background in North American rugby, we aim to elevate every aspect of the game and set new standards across all rugby sectors.</span>
        <div class="pair_links">
          <a href="{% url "research" %}"><button class="button">View our research</button></a>
          <a class="link" href="#">Give us feedback</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row long">
    <div class="cover_image">
      <img src="https://i.imgur.com/yYCk4Zf.jpg" />
    </div>
  </div>
</div>

<div class="section">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Our vision for the future of Firstfive</p>
        <p class="section_review">First Five is poised to be the premier platform, designed to seamlessly connect rugby players, coaches, and enthusiasts with the vital resources they need to elevate the sport.</p>

        <p class="section_review">Our commitment is to streamline your rugby experience, ensuring you have all the necessary tools and information right at your disposal to advance the game we all love.</p>
        
        <br/>
        <p><a class="link" href="{% url "players" %}">Read if you play</a></p>
        <p><a class="link" href="{% url "coaches" %}">Read if you coach</a></p>
      </div>
      <div class="right">
        <img src="https://i.imgur.com/W5rngyE.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row long">
    <hr>
    <figure>
      <blockquote class="quote">
        <p>"
        We are dedicated to championing grassroots rugby, granting unfettered access to knowledge, equipment, and education, ensuring the sport thrives at every level.
        "</p>
      </blockquote>
      <figcaption class="caption mt_base">
        <span class="name">Joseph Ritter</span>
        <span class="position">Co-founder of First Five</span>
      </figcaption>
    </figure>
  </div>
</div>

<div class="section"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Join our mission</p>
    </div>
  </div>
  <div class="row long">
    <p>Join First Five Rugby along for the ride! Create an account to gain points to use in our store, access discounts on season tickets, and more deals.</p>
  </div>
</div>



{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}