<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag, Tim Brown comes out of the swamp to yell at you. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>firstfiverugby</title>
  
  <!-- static files -->
  {% load static %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">

  <!-- CSS for individual page requirements -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% block customcss %}{% endblock %}
</head>
<body>
  <!-- Navigation bar -->
  {% include 'components/menu.html' %}

  <!-- Page content inserted here -->
  {% block content %}{% endblock %}

  <!-- JS scripts for individual page requirements -->
  {% block customjs %}<script src="{% static 'js/index.js' %}"></script>{% endblock %}
</body>
</html>




