<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag, Tim Brown comes out of the swamp to yell at you. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>firstfiverugby</title>
  
  <!-- static files -->
  {% load static %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">

  <!-- Include the general stylesheet -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

  <!-- Custom page stylesheet block -->
  {% block customcss %}{% endblock %}
</head>
<body>
  <!-- Include the navigation component -->
  {% include 'components/menu.html' %}

  <!-- Page contents -->
  {% block content %}{% endblock %}
   <!-- Include the footer component -->
  {% include 'components/footer.html' %}
  <!-- Inlude the general javascript -->
  <script src="{% static 'js/index.js' %}"></script>

  <!-- Custom page javascript block -->
  {% block customjs %}{% endblock %}
</body>
</html>




