{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/camps.css' %}">
{% endblock %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="wide_split">
      <p class="section_title text_red">MIDDLE SCHOOL FESTIVALS</p>
    </div>
    <div class="event_feed">
      {% for event in camp_events %}
      <div class="event">
        <a href="{% url 'campdetails' event.id %}">
          <div class="event_details">
            <span class="event_image">
              <img src="{{ event.logo_url }}" alt="rugby jersey">
            </span>

            <span class="event_type">{{ event.title }}</span>
            <span class="event_host">{{ event.hosted_by }}</span>
            <span class="event_date">{{ event.date|date:"F j, Y" }}</span>
            <span class="event_time">{{ event.time|time:"h:i A" }} EST</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section padded">
  <div class="row">
    <div class="wide_split">
      <p class="section_title text_red">PLAYER PATHWAYS</p>
    </div>
    <div class="event_feed">
      {% for event in pathway_events %}
      <div class="event">
        <a href="{% url 'campdetails' event.id %}">
          <div class="event_details">
            <span class="event_image">
              <img src="{{ event.logo_url }}" alt="rugby jersey">
            </span>

            <span class="event_type">{{ event.title }}</span>
            <span class="event_host">{{ event.hosted_by }}</span>
            <span class="event_date">{{ event.date|date:"F j, Y" }}</span>
            <span class="event_time">{{ event.time|time:"h:i A" }} EST</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}