{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/camps.css' %}">
{% endblock %}

{% block content %}
<div class="section">
    <div class="camps">
        <!-- One Cap Event Active: OGDC -->
        <div class="camp_event">
            <div class="camp_logo">
                <a href="{% url "campdetails" %}">
                <img src="https://i.imgur.com/uNG1375.png" />
                </a>
            </div>
            <h3>Old Glory 20's Camp</h3>
        </div>
    </div>
</div>
{% endblock%}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}