{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/campdetails.css' %}">
{% endblock %}

{% block content %}
<div class="section">
    <div class="camp">
        <div class="camp_logo">
            <img src="{{event.logo_url}}" />
        </div>
        <h2>{{event.title}}</h2> 
        <ol>
            <li>
                <strong>{{ event.location }}</strong>
                <ul>
                    <li>Hosted by: {{ event.hosted_by }}</li>
                    <li>Date: {{ event.date }}</li>
                    <li>Time: {{ event.time }}</li>
                </ul>
            </li>
        </ol>

        <h2>Description</h2>
        <ul>
            <li>{{event.description}}</li>
        </ul>

        <h2>Registration & Extras</h2>
        {% if event.is_active %}
            {% if event.external_registration %}
                <ul>
                    <li>Click <a href="{{ event.register_link }}">here</a> to register.</li>
                </ul>
            {% else %}
                <ul>
                    <li>To attend this camp, please sign up using this form.</li>
                </ul>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            {% endif %}
        {% else %} <!-- EVENT NOT ACTIVE -->
            <ul>
                <li class="inactive_camp">Registration is not yet open for this event.</li>
            </ul>
        {% endif %}

        <div class="local_rugby">
            <h2>Find Rugby Near You</h2>
            <ul class="local_links">
                {% for team in random_teams %}
                    <li><a href="{% url 'teamdetails' team.id %}">{{team.name}}</a></li>
                {% endfor %}
                <li><a href="https://firstfiverugby.com/teams">See All Clubs.</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
