{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block content %}

<div class="success top">
  <div class="message">
    <h1>You have registered for the {{ event.title }}</h1>
    <p>Location: {{ event.location }}</p>
    <h2>Total Number of Attendees: {{ attendees }}</h2>

    <h3>Explore the Site</h3>
    <ol>
      <li><a href="{% url 'store' %}">See Store</a></li>
      <li><a href="{% url 'home' %}">Go Home</a></li>
    </ol>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}