{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/coaches.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <h1 class="title">Coaching Services</h1>
</div>

<div id="top" class="jump_list">
  <ul class="list">
    <li class="item">1. <a href="#certs">Certifications</a></li>
    <li class="item">3. <a href="#create_club">Create a Club</a></li>
    <li class="item">4. <a href="#training_plans">Training Plans</a></li>
  </ul>
</div>

<div id="certs" class="section bg-black">
  <div class="coaching_services">
    <div class="text">
      <h2 class="section_title">Certifications</h2>
      <p>Looking to coach rugby in North America. Want to make career connections and sharpen your coaching skills? We have the coaching resources you need at every level of the game.</p>

      <p>Pass forward your knowledge. Get certified to coach today.</p>
    </div>
    <div class="media">
      <video controls loop playsinline>
        <source src={% static 'images/coaching_video_01.mp4' %} type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div class="section">
  <div class="coaching_card_container">

  <div class="coaching_card">
    <h2>Lvl. 100</h2>
    <p>Take your first steps in rugby coaching with our comprehensive course. Learn the fundamentals of coaching, from understanding the basics of rugby to effectively passing on information in a safe and direct manner. Gain insights from top-level coaches and experience the inner workings of a rugby team. This all-inclusive course is the foundation for your coaching journey.</p>
    <a href="https://usa.rugby/courses">Access Course</a></p>
  </div>

  <div class="coaching_card">
    <h2>Lvl. 200</h2>
   <p>Master the higher-level aspects of rugby coaching, including understanding the structure and shape of the game. Learn how to manage longer, more purposeful training sessions for your team, and improve your interaction with players and the general public to promote rugby and growth in your area. Gain the skills to run an efficient team and club that can retain players and coach at an advanced level, following the progression based on the USA Rugby standards.</p>
    <a href="https://usa.rugby/courses">Access Course</a></p>
  </div>

  <div class="coaching_card">
    <h2>Lvl. 300</h2>
    <p>Elevate your coaching to an even higher level. Dive deep into the intricacies of rugby strategy, focusing on the structure, shape, and flow of the game. Learn how to effectively manage extended training sessions with a clear sense of purpose and direction for your team. Enhance your ability to interact with players and the community, playing a pivotal role in promoting rugby and fostering growth in your region. Develop the skills needed to lead and efficiently manage a team and club while meeting and exceeding the standards set by USA Rugby.</p>
    <a href="https://usa.rugby/courses">Access Course</a>
  </div>
</div>
  
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}