{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block content %}
<div class="home-banner">
</div>

<!-- Watch rugby container -->
<div class="section blackbg">
  <div class="watch_rugby">
    <div class="watch_title">
      <h1 class="section_title">Watch Rugby</h1>
      <p class="section_description">See all levels of the game, from grassroots to college and beyond. Buy Tickets here!</p>
    </div>
    <div class="watch_cards">
      <div class="watch_card">
        <div class="watch_card_media">
          <a href="#"><img src="https://i.imgur.com/fOwJzlX.jpg" /></a>
        </div>
        <div class="watch_card_description">
          <h4>College Conferences</h4>
          <p>School Boy / Girl; DI. DII. DIII.</p>
        </div>
      </div> 
      <div class="watch_card">
        <div class="watch_card_media">
          <a href="#"><img src="https://i.imgur.com/oZAE5qy.jpg" /></a>
        </div>
        <div class="watch_card_description">
          <h4>Club Divisions</h4>
          <p>Adult leagues & club level; DI. DII. DIII.</p>
        </div>
      </div>     
      <div class="watch_card">
        <div class="watch_card_media">
          <a href="#"><img src="https://i.imgur.com/KLJ5zE2.jpg" /></a>
        </div>
        <div class="watch_card_description">
          <h4>Major League Rugby</h4>
          <p>The professional rugby competition of North America.</p>
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <h1 class="section_title">Shop Rugby</h1>
    <p class="section-body">Represent your college club, your local division team, or your city's pro team.</p>
  </div>
  <div class="store-strip">
    {% for product in featured_products %}
    <div class="product">
      <a href="{% url 'productdetails' product.id %}"><img src="{{ product.image_url }}" /></a>
      <p>{{ product.name|slice:":20" }}...</p>
      <p>{{ product.price }}</p>
    </div>
    {% empty %}
    <p>No featured products.</p>
    {% endfor %}
  </div>
</div>

<div class="section">
  <h1 class="section_title">Community Events</h1>
  <p class="section_body">Discover local events, watch parties, touch rugby tournaments, and more.</p>
  <div class="event_strip">
  {% for event in events %}
    <div class="event">
      <div class="event_logo">
        <img src="{{ event.logo_url }}" />
      </div>
      
      <div class="event_meta">
        <p class="event_title"><a href="{% url 'campdetails' event.id %}">{{ event.title }}</a></p>
        <p class="event_date">{{ event.date }} @ {{ event.time }}</p>
      </div>
    
    </div>
  {% empty %}
    <p>No events to show here yet.</p>
  {% endfor %}
  </div>

  <p>See more events here.</p>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

