<!-- Filename: home.html -->
{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="home_banner" class="banner">
  <div class="section top">
    <div id="indicator">
      <div class="blip"></div>
      <div class="blip"></div>
      <div class="blip"></div>
      <div class="blip"></div>
    </div>
    
    <div class="row">
      <div class="feature">
        <div class="context">
          <span id="context_text">Creating a rugby platform built to benefit the community.</span>
        </div>
        <div class="pair_links">
          <a id="link_button" class="button-link light" href="{% url "about" %}"><span id="link_text">Learn about First Five</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Community Events -->
<div class="section padded blackbg">
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Upcoming rugby events</p>
      <a class="link light" href="{% url 'camps' %}">view all events</a>
    </div>
    <div class="event_feed">
      {% for event in events %}
      <div class="event">
        <a href="{% url 'campdetails' event.id %}">
          <div class="event_details">
            <span class="event_image">
              <img src="{{ event.logo_url }}" alt="rugby jersey">
            </span>

            <span class="event_type">{{ event.title }}</span>
            <span class="event_host">{{ event.hosted_by }}</span>
            <span class="event_date">{{ event.date|date:"F j, Y" }}</span>
            <span class="event_time">{{ event.time|time:"h:i A" }} EST</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/banner_slider.js' %}"></script>
{% endblock %}

