{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="home_banner" class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Creating a rugby platform built to benefit the community.</span>
        </div>
        <div class="pair_links">
            <button class="button">Learn about First Five</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <div class="action_list">
      <div class="action">
        <span class="action_title">Pioneering research on the path to better rugby.</span>
        <div class="action_link">
          <a class="link" href="{% url 'research' %}">Learn about our research</a>
        </div>
      </div>

      <div class="action">
        <span class="action_title">Transforming teams and coaches through the web.</span>
        <div class="action_link">
          <a class="link" href="{% url 'teams' %}">Explore our services</a>
        </div>
      </div>

      <div class="action">
        <span class="action_title">Join us in shaping the future of rugby apparel.</span>
        <div class="action_link">
          <a class="link" href="{% url 'store' %}">View products</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured Items for Sale -->
<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Latest products</p>
      <a class="link" href="{% url 'store' %}">shop all products</a>
    </div>
  </div>
  
  <div class="row long">
    <div class="order_feed">
      <div class="order">
        <span class="order_image"><img src="https://i.imgur.com/AkHPxzq.png" alt="rugby jersey"></span>

        <div class="order_details">
          <span class="order_title">Team Honor Caps</span>
          <span class="order_owner">by Nova_wrfc</span>
          <span class="order_price">Sold for $7.00</span>
          <span class="order_location">in Virginia</span>
          <span class="order_date">4 hours ago</span>
        </div>
      </div>
        
      <div class="order">
        <span class="order_image"><img src="https://i.imgur.com/Y1IO2Ft.png" alt="rugby jersey"></span>

        <div class="order_details">
          <span class="order_title">Chiefs 2008</span>
          <span class="order_owner">by Alexio</span>
          <span class="order_price">Sold for $40.00</span>
          <span class="order_location">in Virginia</span>
          <span class="order_date">1 day ago</span>
        </div>
      </div>

      <div class="order">
        <span class="order_image"><img src="https://i.imgur.com/K8hBiPc.png" alt="rugby jersey"></span>

        <div class="order_details">
          <span class="order_title">LA Giltinis 2021</span>
          <span class="order_owner">by MLR_salty76</span>
          <span class="order_price">Sold for $300.00</span>
          <span class="order_location">in Virginia</span>
          <span class="order_date">2 days ago</span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Community Events -->
<div class="section padded blackbg">
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Upcoming rugby events</p>
      <a class="link" href="{% url 'camps' %}">view all events</a>
    </div>
    <div class="event_feed">
      {% for event in events %}
      <div class="event">
        <a href="{% url 'campdetails' event.id %}">
          <div class="event_details">
            <span class="event_image">
              <img src="{{ event.logo_url }}" alt="rugby jersey">
            </span>

            <span class="event_type">{{ event.title }}</span>
            <span class="event_host">{{ event.hosted_by }}</span>
            <span class="event_date">{{ event.date|date:"F j, Y" }}</span>
            <span class="event_time">{{ event.time|time:"h:i A" }} EST</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Watch rugby container -->
<div class="section blackbg">

  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Watch live matches</p>
      <a class="link" href="{% url 'store' %}">view all matches</a>
    </div>
  </div>

  <div class="row">
    <div class="watch_cards">
      <div class="watch_card">
        <div class="watch_card_media">
          <a href="#"><img src="https://i.imgur.com/fOwJzlX.jpg" /></a>
        </div>
        <div class="watch_card_description">
          <p>Club Rugby</p>
        </div>
      </div> 
      <div class="watch_card">
        <div class="watch_card_media">
          <a href="#"><img src="https://i.imgur.com/oZAE5qy.jpg" /></a>
        </div>
        <div class="watch_card_description">
          <p>College Rugby</p>
        </div>
      </div>     
      <div class="watch_card">
        <div class="watch_card_media">
          <a href="#"><img src="https://i.imgur.com/KLJ5zE2.jpg" /></a>
        </div>
        <div class="watch_card_description">
          <p>Major League Rugby</p>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

