{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block content %}
<div id="player_banner" class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Nurturing a player ecosystem for success and growth.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Community Events -->
<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Upcoming live events</p>
      <a class="link" href="{% url 'camps' %}">view all events</a>
    </div>
    <div class="event_feed">
      {% for event in events %}
      <div class="event">
        <a href="{% url 'campdetails' event.id %}">
          <div class="event_details">
            <span class="event_image">
              <img src="{{ event.logo_url }}" alt="rugby jersey">
            </span>

            <span class="event_type">{{ event.title }}</span>
            <span class="event_host">{{ event.hosted_by }}</span>
            <span class="event_date">{{ event.date|date:"F j, Y" }}</span>
            <span class="event_time">{{ event.time|time:"h:i A" }} EST</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Our vision for personal player development</p>
        <p class="section_review">Our mission is to provide reliable rugby information, top-notch training material, and all the tools needed for success. If you are willing to chase your dreams, nothing is impossible.</p>
        
        <br/>
        <p><a class="link" href="">View training plans</a></p>
        <p><a class="link" href="">View nutrition plans</a></p> 
      </div>
      <div class="right">
        <img src="https://i.imgur.com/DwBjhX7.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Coming soon.</p>
    </div>
  </div>
  <div class="row long">
    <p>"Thank you for your patience. If you have feedback, please <a class="link" href="mailto:letusknow@firstfiverugby.com">letusknow</a>." - FFR Software Team</p>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
