{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{% block content %}
<div id="player_banner" class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Nurturing a player ecosystem for success and growth.</span>
        </div>
        <div class="pair_links">
            <button class="button">See Training Plans</button>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Community Events -->
<div class="section back_gray">
  <div class="row">
    <div class="wide_split">
      <p class="section_title text_red">Upcoming live events</p>
      <a class="link" href="{% url 'camps' %}">view all events</a>
    </div>
    <div class="event_feed">
      {% for event in events %}
      <div class="event">
        <a href="{% url 'campdetails' event.id %}">
          <div class="event_details">
            <span class="event_image">
              <img src="{{ event.logo_url }}" alt="rugby jersey">
            </span>

            <span class="event_type">{{ event.title }}</span>
            <span class="event_host">{{ event.hosted_by }}</span>
            <span class="event_date">{{ event.date|date:"F j, Y" }}</span>
            <span class="event_time">{{ event.time|time:"h:i A" }} EST</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
