<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag, Tim Brown comes out of the swamp to yell at you. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>firstfiverugby</title>
  
  <!-- static files -->
  {% load static %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,600;0,700;1,100;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Default stylesheets -->
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">

  <!-- Custom stylesheets -->
  {% block customcss %}{% endblock %}
</head>
<body>
  {% include 'components/navigation.html' %}
  {% block content %}{% endblock %}
  {% include 'components/footigation.html' %}
  
  <!-- JS scripts for individual page requirements -->
  <script src="https://kit.fontawesome.com/e7f487f1d6.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/index.js' %}"></script>
  {% block customjs %}{% endblock %}
</body>
</html>