{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block content %}
<div class="home-banner">
</div>

<div class="section">
  <div class="section-header">
    <h1 class="section-title">Watch Rugby</h1>
    <p class="section-body">Find college division teams, or enjoy your local club levels.</p>
  </div>
  
  <!-- Watch rugby container -->
  <div class="watch-rugby">
    <div class="watch-local">
      <div class="watch-card">
        <h4>College Divisions</h4>
        <p>University; DI, DII, DIII rugby programs.</p>
      </div> 
    </div>

    <div class="watch-pro">
      <div class="watch-card">
        <h4>Club Teams</h4>
        <p>Adult league; DI, DII, DIII rugby programs.</p>
      </div>     
      <div class="watch-card">
        <h4>Major League Rugby</h4>
        <p>The professional rugby scene of North America.</p>
      </div> 
    </div>
  </div>
  <p>Find more rugby here.</p>
</div>

<div class="section">
  <div class="section-header">
    <h1 class="section-title">Shop Rugby</h1>
    <p class="section-body">Represent your college club, your local division team, or your city's pro team.</p>
  </div>
  <div class="store-strip">
    {% for product in featured_products %}
    <div class="product">
      <a href="{% url 'productdetails' product.id %}"><img src="{{ product.image_url }}" /></a>
      <p>{{ product.name|slice:":20" }}...</p>
      <p>{{ product.price }}</p>
    </div>
    {% empty %}
    <p>No featured products.</p>
    {% endfor %}
  </div>
</div>

<div class="section">
  <h1 class="section-title">Community Events</h1>
  <p class="section-body">Discover local events, watch parties, touch rugby tournaments, and more.</p>
  <div class="event-strip">
  {% for event in events %}
    <div class="event">
      <div class="event-title">
        <h4>{{event.title}}</h4>
      </div>
      <div class="event-body">
        <p><strong>Description:</strong></p>
        <p>{{event.description|slice:":90"}}...</p>
        <p><strong>Date & Time:</strong></p>
        <p>{{event.location|slice:":20"}}...</p>
        <p>{{event.date}} @ {{event.time}}</p>
      </div>
    </div>
  {% empty %}
    <p>No events to show here yet.</p>
  {% endfor %}
  </div>

  <p>See more events here.</p>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

