{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block content %}
<div class="section jumbotron">
  <div class="banner">
    <div class="advertisement">
      <button>Advertisment</button>
    </div>
    <div class="banner-title">
      <h2 class="callout">News & Updates</h2>
      <p class="subtitle">Online rugby platform for information, apparel, and training.</p>
    </div>
    <div class="dealDay"> 
      <button>Daily Deal!</button>
    </div>
  </div>
</div>

<div class="section">
  <div class="players content">
    <div class="section-text">
      <h3 class="section-title">Player Services</h3>
      <p class="section-desc">Build connections with top level coaches. Learn the training systems used by world class 
      players. Join the player pathways and acheive your professional dreams on and off the 
      pitch.</p>
    </div>
    <div class="options">
      <div class="card">
        <div class="card-desc">
          <p>
            Find rugby in your area and learn the basics in a team setting. 
          </p>
        </div>
        <div class="card-link">
          <a href="{% url 'teams' %}">RUGBY NEAR ME</a>
        </div>
      </div>
      <div class="card">
        <div class="card-desc">
          <p>
            Discover the next steps in your professional journey. On the pitch and off the pitch.
          </p>
        </div>
        <div class="card-link">
          <a href="{% url 'teams' %}">PLAYER PATHWAYS</a>
        </div>
      </div>
      <div class="card">
        <div class="card-desc">
          <p>
            Know about upcoming camps to improve your rugby IQ and skills.
          </p>
        </div>
        <div class="card-link">
          <a href="{% url 'teams' %}">SKILLS TRAINING</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="players content">
    <div class="section-text">
      <h3 class="section-title">Team & Coaching</h3>
      <p class="section-desc">Delivery of rugby material is very important. Get certified to coach or learn about the game. 
      Find easy to follow training plans for every level of play. Get an opportunity to travel and 
      meet professional coaches.</p>
    </div>
    <div class="options">
      <div class="card">
        <div class="card-desc">
          <p>
            Explore courses and opportunities to learn about rugby.
          </p>
        </div>
        <div class="card-link">
          <a href="{% url 'coaches' %}">CERTIFICATIONS</a>
        </div>
      </div>
      <div class="card">
        <div class="card-desc">
          <p>
            Top to bottom, we have you covered. Start your club today.
          </p>
        </div>
        <div class="card-link">
          <a href="{% url 'teams' %}">CREATE A CLUB</a>
        </div>
      </div>
      <div class="card">
        <div class="card-desc">
          <p>
            Get high standard training plans for every level of play.
          </p>
        </div>
        <div class="card-link">
          <a href="{% url 'teams' %}">TRAINING PLANS</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

