<!-- Filename: research.html -->
{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/research.css' %}">
{% endblock %}

{% block content %}
<div class="section top bluebg">
  <div class="row long">
    <div class="feature">
      <div class="left">
        <span>Pioneering research on the path to better rugby.</span>
      </div>
      <div class="right">
        <span class="description">We believe our research will eventually lead to better overall rugby in North America, a system that can help players make game-level decisions. Building a beneficial hub is our mission.</span>
        <div class="pair_links">
          <a class="button-link light" href="{% url "research" %}">View research index</a>
          <a class="link light" href="#">Learn about Safety</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bluebg">
  <div class="row long">
    <div class="cover_image">
      <img src="https://i.imgur.com/bRiOtkk.jpg" />
    </div>
  </div>
</div>

<div class="section bluebg">
  <div class="row long">
    <hr>
    <figure>
      <blockquote class="quote">
        <p>"
        Aligning existing rugby technologies is one of the most critical challenges for our mission. Strategies like integrating player feedback are helping us make progress, and we are continually researching innovative techniques to bridge the gaps.
        "</p>
      </blockquote>
      <figcaption class="caption mt_base">
        <span class="name">Benn Mellingerwitz</span>
        <span class="position">Software Engineer at First Five</span>
      </figcaption>
    </figure>
  </div>
</div>



{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}