{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}
<div id="store_banner" class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Join us in shaping the future of rugby apparel.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Coming soon.</p>
    </div>
  </div>
  <div class="row long">
    <p>"Thank you for your patience. If you have feedback, please <a class="link" href="mailto:letusknow@firstfiverugby.com">letusknow</a>." - FFR Software Team</p>
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/store.js' %}"></script>
{% endblock %}
