{% extends 'preview_base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <h1 class="title">Store</h1>
</div>

<div class="section">
  <div class="products">
      {%for product in products %}
      <div class="product-card">
        <a href="{% url 'productdetails' product.id %}"><img src="{{ product.image_url }}" /></a>
        
        <div class="product-content">
        <p class="product-name">{{ product.name }}</p>
        {% if product.is_active %}
          <p class="product-price">${{product.price}}</p>
        {% else %}
          <p class="sold">sold out</p>
        {% endif %}
        </div>
      </div>
      {% empty %}
        <em>No Products Found.</em>
      {% endfor %}
      
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
