{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Transforming teams and coaches through the web.</span>
        </div>
        <div class="pair_links">
            <button class="button">See Plans Now</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <p class="section_title">Select category</p>
  </div>

  <div class="row">
    <ul class="category_list">
      <li><a class="link" href="#club">Club Rugby</a></li>
      <li><a class="link" href="#college">College Rugby</a></li>
      <li><a class="link disabled_link" href="#aar">All American Rugby</a></li>
      <li><a class="link" href="#mlr">Major League Rugby</a></li>
    </ul>
  </div>
</div>

<div class="section padded">
  <div class="row">
    <p class="section_title">Add your club</p>
    <p>Take your club to the next level.</p>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}