{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
  <h1 class="title">Sponsored Teams</h1>
</div>

<div class="section">
  <div class="description">
    <p>See all team events and live scores. Make it easy for players to register and find your club. Watch the competition.</p>
  </div>
  <div class="filter-container">
    <h4 class="clubs">Find a Club</h4>
    <div class="fields">
      <div class="field">
        <label for="club-name-filter">Club Name:</label>
        <input type="text" id="club-name-filter" placeholder="Search by name">
      </div>
      <div class="field">
        <label for="club-zipcode-filter">Zipcode:</label>
        <input type="text" id="club-zipcode-filter" placeholder="Search by zipcode">
      </div>
    </div>
  </div>

  <div class="table-container">
    <table class="table" cellpadding=10 cellspacing=0>
      <thead>
          <tr>
              <th>Club Name</th>
              <th>Coach</th>
              <th>Division</th>
              <th>Schedule</th>
              <th>Zipcode</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams %}
            <tr>
                <td><a href="{% url 'teamdetails' team.id %}">{{ team.name }}</a></td>
                <td>{{ team.coach }}</td>
                <td>{{ team.division }}</td>
                <td><a href="{% url 'teamfixtures' team.id %}">view</a></td>
                <td>{{ team.zipcode }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}