{% extends 'preview_base2.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block content %}
<div class="back-navigation">
  <a href="{% url 'teams' %}">Back</a>
</div>
<div class="banner-image">
  <img src="{{ team.image_url }}" />
  <h1>{{ team.name }}</h1>
</div>

<div class="section fullheight">
  <div class="teamdetails content">
    <div class="details">
      <h4>Register & View Schedule</h4>
      
      <div class="detail-buttons">
        <button><a class="button-link" href="{{ team.register_url }}">Register to Play Here</a></button>
        <button><a class="button-link" href="{% url 'teamfixtures' team.id %}">See Game Fixtures Here</a></button>
      </div>

      <h4>Club History</h4>
      <p>{{ team.history }}</p>

      <h4>Contact details</h4>
      <p>{{ team.coach }}</p>
      <p><a class="page-link" href="mailto:{{ team.contact_email }}">{{ team.contact_email }}</a></p>
    </div>
  </div>
</div>
{% endblock %}