{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/tours.css' %}">
{% endblock %}

{% block content %}
<div id="tour_banner" class="banner">
  <div class="section top">
    <div class="row long">
      <div class="feature">
        <div class="context">
          <span>Experience team tours to Ireland</span>
        </div>
        <div class="pair_links">
          <a href="{% url "tours" %}"><button class="button">Get Free Quote</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
    <hr>
    <div class="wide_split">
      <p class="section_title">Insurance Partners</p>
      <a class="link" href="https://www.globetrotter.ch/">see site</a>
    </div>
  </div>
</div>

<div class="tour_section">
  <div class="tour_content">

    <div class="points">
        <h3>Insurance Partners</h3>
        <p>"Travel with the Experts" - <a class="link" href="https://www.globetrotter.ch/">Globetrotter Insurance</a></p>
      </div>

    <div class="top">
      <div class="points">
        <h3>Overview & Highlights</h3>
        <ul class="point-list">
          <li>6-8 day tours</li>
          <li>Centered around Pro 14 and AIL club games</li>
          <li>2 games for the tour team to play</li>
          <li>Educational/historical event every day</li>
          <li>Team building challenge course</li>
          <li>Players and coaches receive custom Canterbury 1/4 zip and polo</li>
          <li>Includes bus, games, tips, lodging, banquet, match tickets, training sessions, breakfast</li>
          <li>Meals typically are $12-15</li>
          <li>Total tour price per player <strong>$1700-$2300</strong></li>
        </ul>
      </div>

      <div class="points">
        <h3>Overnight Stays</h3>
        <ul>
          <li>Galway City Center</li>
          <li>Clifden</li>
          <li>Cork City Center</li>
          <li>Kilkenny</li>
          <li>Kerry</li>
          <li>Dublin</li>
        </ul>
      </div>
    </div>

    <div class="points">
      <div class="activities_image">
        <div class="activities_content">
          <h3 class="activities_title">Experience Stops and Activities</h3>
          <ul>
            <li>Munster Pro 14 game with behind the scenes tour</li>
            <li>Connacht Pro 14 games with behind the scenes tour</li>
            <li>Past tours included games against Shannon, NUIG, UCC Pres Cork, Cork Con, Rockwell College, St. Michael's, Connemara Blacks, Rockwell College, and Old Wesley</li>
            <li>Historical Sites visited can include: Blarney Castle, Connemara Region, Connemara National Park, Cliffs of Moher, the Burren, Diamond Hill, Kylemore Abbey</li>
            <li>Luxury motor coaches with bathroom, WiFi, etc., BEST bus drivers who are familiar with local history</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="middle">
      <div class="points">
        <h3>Logistics Planning</h3>
        <ul class="point-list">
          <li>Negotiating airfare</li>
          <li>Negotiating trip insurance</li>
          <li>Reserving rooms</li>
          <li>Setting up games</li>
          <li>Setting up training sessions</li>
          <li>Tour clearances with USA Rugby and IRFU</li>
          <li>Bus/coach reservations</li>
          <li>Tour itinerary and schedule</li>
          <li>Tour kit and design</li>
        </ul>
      </div>

      <div class="points">
        <h3>On the Tour</h3>
        <ul class="point-list">
          <li>Handling unexpected issues</li>
          <li>Managing transportation logistics</li>
          <li>Coordinating game schedules</li>
          <li>Ensuring player safety and well-being</li>
          <li>Addressing medical needs</li>
          <li>Monitoring tour schedule adherence</li>
        </ul>
      </div>

      <div class="points">
        <h3>Free Team Quote</h3>
        <p>letusknow@firstfiverugby.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}