{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/tours.css' %}">
{% endblock %}

{% block content %}
<div id="tour_banner" class="banner">
  <div class="section top">
    <div class="row">
      <div class="feature">
        <div class="context">
          <span>Experience team tours to Ireland</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Overview of the tour</p>
       <div class="points">
        <ul class="tour_list">
          <li>6-8 day tours</li>
          <li>Centered around Pro 14 and AIL club games</li>
          <li>2 games for the tour team to play</li>
          <li>Educational/historical event every day</li>
          <li>Team building challenge course</li>
          <li>Players and coaches receive custom Canterbury 1/4 zip and polo</li>
          <li>Includes bus, games, tips, lodging, banquet, match tickets, training sessions, breakfast</li>
          <li>Meals typically are $12-15</li>
          <li>Total tour price per player <strong>$1700-$2300</strong></li>
        </ul>
      </div>
        
        <br/>

      </div>
      <div class="right">
        <img src="https://i.imgur.com/MipQ7zq.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="section blackbg"> 
  <div class="row long">
     <hr>
    <figure>
      <blockquote class="quote">
        <p>"
          Travel with the experts.
        "</p>
      </blockquote>
      <figcaption class="caption mt_base">
        <span class="name">Globetrotter Insurance</span>
        <span class="position">Partners with First Five</span>
      </figcaption>
    </figure>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <div class="cover_image">
      <img src="https://i.imgur.com/t7H5pkR.jpg" />
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Overnight stays</p>
        <div class="points">
          <ul class="tour_list">
            <li>Galway City Center</li>
            <li>Clifden</li>
            <li>Cork City Center</li>
            <li>Kilkenny</li>
            <li>Kerry</li>
            <li>Dublin</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <img src="https://i.imgur.com/qHVTPXU.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">Trip logistics</p>
        <br/>
      </div>
      <div class="right">
       <div class="details">
          <li>Negotiating airfare</li>
          <li>Negotiating trip insurance</li>
          <li>Reserving rooms</li>
          <li>Setting up games</li>
          <li>Setting up training sessions</li>
          <li>Tour clearances with USA Rugby and IRFU</li>
          <li>Bus/coach reservations</li>
          <li>Tour itinerary and schedule</li>
          <li>Tour kit and design</li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <div class="two_column">
      <div class="left">
        <p class="section_title">While on the tour</p>
       <div class="points">
        <ul class="tour_list">
          <li>Handling unexpected issues</li>
          <li>Managing transportation logistics</li>
          <li>Coordinating game schedules</li>
          <li>Ensuring player safety and well-being</li>
          <li>Addressing medical needs</li>
          <li>Monitoring tour schedule adherence</li>
        </ul>
      </div>
        
        <br/>

      </div>
      <div class="right">
        <img src="https://i.imgur.com/JPYbv7C.jpg" />
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}