{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
  <div class="common-section about">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <h2 class="h2 section-title">About Our Platform</h2>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell large-8">
          <p>The all-in-one platform for rugby passion and development. We cater to players, coaches, fans, and enthusiasts, offering a plethora of services designed to enhance your rugby experience. From expert-led Rugby Skills Camps, immersive Ireland Team Tours, a curated catalog of unique rugby items, to valuable life skills, we've got you covered.</p>
				</div>
      </div>

      <div class="grid-x">
        <div class="cell large-8">
          <h2 class="h2 section-title">Staff</h2>
        </div>
      </div>
			
    </div>
  </div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/about.js' %}"></script>
{% endblock %}
