<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>firstFIVE</title>

  <!-- load static context -->
  {% load static %}

  <!-- Styles -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  {% block mycss%}{% endblock %} 
</head>
<body> 
  <!-- Navigation -->
  {%include 'components/navigation.html'%}

  <!-- Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  {%include 'components/footer.html'%}
</body>
</html>

