{% extends 'base.html'%}
{% load static %}

{% block header %}
  {% include 'header_component.html' %}
{% endblock %}

{% block content %}  
  <!-- more content here! -->
  <div class="container">
    <div class="products">
      {% for product in products %}
      <div class="product">
        <img src="{% static 'assets/default_profile.png' %}" alt="image of product"/>
        <div>
          <h3>{{ product.title }}</h3>
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>
          <p>
          <a href="#">Buy Now</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}