{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<!-- hero image -->
  <div class="hero">
    <div class="grid-x align-center">
    
      <div class="cell text-center small-10 large-8">
        <div class="hero-title">
          <img src="{% static 'images/firstfivelogo-white.png' %}" alt="First Five Rugby Logo">
        </div>
      </div>
    
      <div class="cell text-center small-12 medium-8 large-6">
        <div class="hero-subtitle">
          <p>Clarity <span class="splitter">|</span> 
            Purpose <span class="splitter">|</span>
            Intensity <span class="splitter">|</span>
            Trust <span class="splitter">|</span>
            Confidence</p>
        </div>
      </div> 

    </div>
  </div>

  <!-- About Section -->
  <div class="common-section about">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <h2 class="h2 section-title">Get To Know Us</h2>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
          <img src="{% static 'images/about-us.svg' %}" alt="First Five Rugby Logo">
        </div>
        <div class="cell cell-wrapper">
          <div class="grid-y align-center">
            <div class="cell">
              <p>The all-in-one platform for rugby passion and development. We cater to players, coaches, fans, and enthusiasts, offering a plethora of services designed to enhance your rugby experience. From expert-led Rugby Skills Camps, immersive Ireland Team Tours, a curated catalog of unique rugby items, to valuable life skills, we've got you covered.</p>
            </div>
            <div class="cell about-button">
              <a href="{% url 'about' %}" class="button">Learn More</a> 
            </div>
          </div>
        </div>
        
      </div>

    </div> <!-- end grid-container -->
  </div> <!-- end about section -->
  
  <hr />
  
  <!-- services Section -->
  <div class="common-section services">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <h2 class="h2 section-title">Services We Provide</h2>
          <p>Although our platform is young, it boasts a full array of options for players, coaches,                                         </p>
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell small-4">
                <div class="card">
                  <img src="assets/img/generic/rectangle-1.jpg">
                  <div class="card-section">
                    <p>Camps</p>
                  </div>
                </div>
              </div>
              <div class="cell small-4">
                <div class="card">
                  <img src="assets/img/generic/rectangle-1.jpg">
                  <div class="card-section">
                    <p>Tours</p>
                  </div>
                </div>
              </div>
              <div class="cell small-4">
                <div class="card">
                  <img src="assets/img/generic/rectangle-1.jpg">
                  <div class="card-section">
                    <p>Festivals</p>
                  </div>
                </div>
              </div>

              <div class="cell small-4">
                <div class="card">
                  <img src="assets/img/generic/rectangle-1.jpg">
                  <div class="card-section">
                    <p>Honor Caps</p>
                  </div>
                </div>
              </div>
              <div class="cell small-4">
                <div class="card">
                  <img src="assets/img/generic/rectangle-1.jpg">
                  <div class="card-section">
                    <p>Direct Team Sales</p>
                  </div>
                </div>
              </div>
              <div class="cell small-4">
                <div class="card">
                  <img src="assets/img/generic/rectangle-1.jpg">
                  <div class="card-section">
                    <p>Enitor</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 


{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

