{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<!-- hero image -->
  <div class="hero">
    <div class="grid-x align-center">
    
      <div class="cell text-center small-10 large-8">
        <div class="hero-title">
          <img src="{% static 'images/firstfivelogo-white.png' %}" alt="First Five Rugby Logo">
        </div>
      </div>
    
      <div class="cell text-center small-12 medium-8 large-6">
        <div class="hero-subtitle">
          <p>Clarity <span class="splitter">|</span> 
            Purpose <span class="splitter">|</span>
            Intensity <span class="splitter">|</span>
            Trust <span class="splitter">|</span>
            Confidence</p>
        </div>
      </div> 

    </div>
  </div>

  <!-- About Section -->
  <div class="common-section about">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell cell-wrapper">
          <div class="grid-y align-center">
            <div class="cell">
              <p>The all-in-one platform for rugby passion and development. We cater to players, coaches, fans, and enthusiasts, offering a plethora of services designed to enhance your rugby experience. From expert-led Rugby Skills Camps, immersive Ireland Team Tours, a curated catalog of unique rugby items, to valuable life skills, we've got you covered.</p>
            </div>
          </div>
        </div>
        
      </div>

    </div> <!-- end grid-container -->
  </div> <!-- end about section -->
  
  <!-- services Section -->
  <div class="common-section services">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <h2 class="h2 section-title">Action Menu</h2>
          <br />
          <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
              <div class="cell small-6 medium-3 large-4">
                <div class="card">
                  <a href="{% url 'camps'%}">
                    <img src="{% static 'images/button.gif' %}">
                    <div class="card-section">
                      <p>Camps</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cell small-6 medium-3 large-4">
                <div class="card">
                 <a href="{% url 'tours' %}"> 
                  <img src="{% static 'images/longroad.gif' %}">
                  <div class="card-section">
                    <p>Tours</p>
                  </div>
                </a>
                </div>
              </div>
              <div class="cell small-6 medium-3 large-4">
                <div class="card">
                  <a href="{% url 'home' %}">
                  <img src="{% static 'images/colorsquare.gif' %}">
                  <div class="card-section">
                    <p>Festivals</p>
                  </div>
                </a>
                </div>
              </div>

              <div class="cell small-6 medium-4">
                <div class="card">
                  <a href="{% url 'catalog'%}">
                  <img src="{% static 'images/arrows.gif' %}">
                  <div class="card-section">
                    <p>Honor Caps</p>
                  </div>
                </a>
                </div>
              </div>
              <div class="cell small-6 medium-4">
                <div class="card">
                  <a href="{% url 'catalog'%}">
                  <img src="{% static 'images/back&forth.gif' %}">
                  <div class="card-section">
                    <p>Team Sales</p>
                  </div>
                </a>
                </div>
              </div>
              <div class="cell small-6 medium-4">
                <div class="card">
                  <a href="{% url 'home'%}">
                  <img src="{% static 'images/bubbles.gif' %}">
                  <div class="card-section">
                    <p>Schedules</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 


{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

