{% load static %}

<div class="container">
<nav class="navbar navbar-expand-md mb-5">
        <div class="navbar-nav text-center">
          <a class="spin-element">
            <img src="{% static 'assets/f5.svg' %}" alt="" width="60px" height="auto">
          </a>
          <a {% if location == 'home' %}class="active"{% endif %} href="{% url 'index' %}">Home</a>
          <a {% if location == 'catalog' %}class="active"{% endif %} href="{% url 'catalog' %}">Catalog</a>
          <a {% if location == 'news' %}class="active"{% endif %} href="{% url 'news' %}">News</a>
          <a {% if location == 'camps' %}class="active"{% endif %} href="{% url 'camps' %}">Camps</a>
          <a {% if location == 'tours' %}class="active"{% endif %} href="{% url 'tours' %}">Tours</a>
          <a {% if location == 'info' %}class="active"{% endif %} href="{% url 'info' %}">Info</a>
        </div>
</nav>
    </div>

<!-- IF user is logged in -->
{% if username %}
<div class="container">
    <hr>
  <div class="row">
    <div class="col">
      <div class="float-start">
        Welcome {{ username }}
      </div>
    </div>
    <div class="col">
      <div class="float-end">
        to First Five Rugby.
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
const spinElement = document.querySelector('.spin-element');

spinElement.addEventListener('click', () => {
  spinElement.classList.toggle('spin');
});
</script>