<!-- menu -->
<div class="container">
  <nav class="menu">
    <ul class="list">

      <span class="f5Nav">
        <li class="item"><a href="{% url 'index' %}">home</a></li>
        <li class="item"><a href="{% url 'catalog' %}">catalog</a></li>
        <li class="item"><a href="{% url 'news' %}">news</a></li>
      </span>

      <span class="slNav">
        <li class="item"><a href="{% url 'camps' %}">camps</a></li>
        <li class="item"><a href="{% url 'tours' %}">tours</a></li>
        <li class="item"><a href="{% url 'info' %}">info</a></li>
      </span>
    </ul>
  </nav>
</div>