{% extends 'base.html'%}
{% load static %}

{% block header %}
  {% include 'header_component.html' %}
{% endblock %}

{% block content %}  
  <div id="mainSection" class="mainSection">

    <div class="container articleSection">
      {% for article in articles %}
      <div class="article">
        <img src="{{ article.images.first.url }}" alt="article.image" />
        <span>
          <h1>{{ article.title }}</h1>
          <p>{{ article.small_description }}</p>
        </span>
        <span>
          <a href="{% url 'article' article.id %}">read >></a>
        </span>
      </div> 
      {% endfor %}
    </div>
  </div>
  <!-- more content here! -->
{% endblock %}