{% extends 'base.html'%}
{% load static %}

{% block header %}
  {% include 'header_component.html' %}
{% endblock %}

{% block content %}  
  <div id="mainSection" class="mainSection">

    <div class="container articleSection">
      <div class="article">
        <img src="" alt="article.image"/>
        <span>
          <h1>Article.title</h1>
          <p>Article.preview</p>
        </span>
        <span>
          <a href="#">read ></a>
        </span>
      </div>
      <div class="article">
        <img src="" alt="article.image"/>
        <span>
          <h1>Article.title</h1>
          <p>Article.preview</p>
        </span>
        <span>
          <a href="#">read ></a>
        </span>
      </div>
      <div class="article">
        <img src="" alt="article.image"/>
        <span>
          <h1>Article.title</h1>
          <p>Article.preview</p>
        </span>
        <span>
          <a href="#">read ></a>
        </span>
      </div>
    </div>
  </div>
  <!-- more content here! -->

{% endblock %}