{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block customcss %}
<link href="{% static 'css/camps.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="camps-banner">
    <div class="camp-title">
      <h1>Rugby Camps. <span class="subtitle">Elevate your game.</span></h1>
    </div>
  </div>

  <div class="upcoming-section">
    <h3>Upcoming Camps</h3>

    <div class="camp-card current">
      <div class="camp-info">
        <h3>Fall Rugby Camps</h3>
        <p>Date: Semptember, 24th</p>
        <p>Time: 4pm - 10pm</p>
        <p>Location: West Potomac</p>
      </div>
      <div class="image">
        <img src="https://place-hold.it/100x100/fff/000" />
      </div>
    </div>

  </div>

  <div class="upcoming-section">
    <h3>Past Camps</h3>

    <div class="camp-card expired">
      <div class="camp-info">
        <h3>Baltimore Rugby Camp</h3>
        <p>Date: tbd</p>
        <p>Time: tbd</p>
        <p>Location: tbd</p>
      </div>
      <div class="image">
        <img src="https://place-hold.it/100x100/fff/000" />
      </div>
    </div>
  </div>
  
</div>


{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}