{% extends 'base.html'%}
{% load static %}

<!-- Insert css file for this template -->
{% block customcss %}
<link href="{% static 'css/camps.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="camps-banner">
    <div class="camp-title">
      <h1>Rugby Camps. <span class="subtitle">Elevate your game.</span></h1>
    </div>
  </div>

  <div class="skyline">
    <img src="{% static 'images/youth-rugby.jpg' %}" />
  </div>

  <div class="camp-section">
    <h3>Upcoming Camps</h3>

    {% if upcoming_camps %}
      {% for camp in upcoming_camps %}
      <div class="camp-card current">
        <div class="camp-info">
          <h3>{{camp.name}}</h3>
          <p>Date: {{camp.start_date}} - {{camp.end_date}}</p>
          <p>Time: {{camp.start_time}} - {{camp.end_time}}</p>
          <p>Location: {{camp.location}}</p>
          <p>Capacity: {{camp.capacity}}</p>
          <a role="link" aria-disabled="true">Registration Available Soon *</a>
        </div>
        <div class="camp-image">
          <img src="{% if camp.image %}{{ camp.image.url }}{% else %}{% static 'images/tryrugby.jpg' %}{% endif %}" />
        </div>
      </div>
      {% endfor %}
    {%else%}
      <p>Check back another time. As camps are organized, they will appear here!</p>
    {% endif %}

  </div>

  <div class="camp-section">
    <h3>Past Camps</h3>

    {% if expired_camps %}
      {% for camp in expired_camps %}
      <div class="camp-card expired">
        <div class="camp-info">
          <h3>{{camp.name}}</h3>
          <p><a href="#">View Photo Gallery </a></p>
          <p><a href="#">View Testimonials </a></p>
          <p>Date: {{camp.start_date}} - {{camp.end_date}}</p>
          <p>Location: {{camp.location}}</p>
        </div>
        <div class="camp-image">
          <img src="{% if camp.image %}{{ camp.image.url }}{% else %}{% static 'images/tryrugby.jpg' %}{% endif %}" />
        </div>
      </div>
      {% endfor %}
    {%else%}
      <p>No camps were found.</p>
    {% endif %}
  </div>
  
</div>


{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}