  
<div class="section blackbg top">
  <div class="row long">
    <hr >
    <span class="footer_title"><strong><em>FIRSTFIVE</em></strong> RUGBY</span>
  </div>

  <div class="row long">
    <div class="footer_split">
      <div class="footer_menu">
        <span class="menu_title">Research</span>
        <span><a href="{% url 'research' %}">Overview</a></span>
        <span><a href="{% url 'research' %}">Index</a></span>
      </div>
      <div class="footer_menu">
        <span class="menu_title">Teams</span>
        <span><a href="{% url 'teams' %}">Overview</a></span>
        <span><a href="{% url 'tours' %}">Tours</a></span>
        <span><a href="#">Pricing</a></span>
        <span><a href="{% url 'matches' %}">Matches</a></span>
      </div>
      <div class="footer_menu">
        <span class="menu_title">Players</span>
        <span><a href="{% url 'players' %}">Overview</a></span>
        <span><a href="{% url 'players' %}">Training</a></span>
        <span><a href="{% url 'store' %}">Store</a></span>
      </div>
      <div class="footer_menu">
        <span class="menu_title">Company</span>
        <span><a href="#">About</a></span>
        <span><a href="#">Blog</a></span>
        <span><a href="#">Roadmap</a></span>
        <span><a href="#">Player stories</a></span>
      </div>
    </div>
  </div>
  
</div>
