<!-- load static context -->
{% load static %}
<nav id="menu" class="menu">
  <ul class="list">
    <li class="item"><a class="item-link" href="{% url 'home' %}">home</a></li>
    <li class="item"><a class="item-link" href="{% url 'home' %}">teams</a></li>
    <li class="item"><a class="item-link" href="{% url 'catalog' %}">catalog</a></li>
    <li class="item"><a class="item-link" href="{% url 'home' %}">schedules</a></li>
    <li class="item"><a class="item-link" href="{% url 'globetrotter' %}">partners</a></li>
    <li class="item"><a class="item-link" href="{% url 'camps' %}">camps</a></li>
    <li class="item"><a class="item-link" href="{% url 'tours' %}">tours</a></li>
  </ul>
</nav>

<div class="menu-button">
  <p id="menu-button">Menu <span id="menu-icon">⌘</span></p>
</div>