<div class="brand">
  <h1 class="title"><span><em>FIRSTFIVE</em></span> RUGBY</h1>
</div>

<div class="navigation">
  <ul class="menu">
    <li><a {% if activelink == 0 %} class="active" {%endif %} href="{% url 'preview' %}">Home</a></li>
    <li><a {% if activelink == 1 %} class="active" {%endif %} href={% url 'players' %}>Players</a></li>
    <li><a {% if activelink == 2 %} class="active" {%endif %} href={% url 'teams' %}>Teams</a></li>
    <li><a {% if activelink == 3 %} class="active" {%endif %} href={% url 'store' %}>Store</a></li>
    <li><a {% if activelink == 4 %} class="active" {%endif %} href={% url 'coaches' %}>Coaches</a></li>
    <li><a {% if activelink == 5 %} class="active" {%endif %} href={% url 'schedules' %}>Schedules</a></li>
  </ul>
</div>