<div class="navbar">
  <div class="row">
    <div class="navmenu">
      <div class="brand">
        <a href="{% url "home" %}">
          <span id="firstfive">FIRSTFIVE</span><span id="rugby">RUGBY</span>
        </a>
      </div>
      <div class="options">
        <span class="options_button">Menu</span>
      </div>
    </div>
  </div>
</div>

<div class="navlist hidden">
  <div class="navitems">
    <span><a {% if activelink == 0 %} class="active" {%endif %} href="{% url 'home' %}">Home</a><i class="fa-solid fa-arrow-right"></i></span>
    <span><a {% if activelink == 1 %} class="active" {%endif %} href={% url 'about' %}>About Us</a><i class="fa-solid fa-arrow-right"></i></span>
    <span><a {% if activelink == 2 %} class="active" {%endif %} href={% url 'players' %}>Players</a><i class="fa-solid fa-arrow-right"></i></span>
    <span><a {% if activelink == 3 %} class="active" {%endif %} href={% url 'teams' %}>Clubs</a><i class="fa-solid fa-arrow-right"></i></span>
    <span><a {% if activelink == 4 %} class="active" {%endif %} href={% url 'store' %}>Store</a><i class="fa-solid fa-barcode"></i></span>
    <span><a {% if activelink == 5 %} class="active" {%endif %} href={% url 'coaches' %}>Coaches</a><i class="fa-solid fa-arrow-right"></i></span>
    <span><a {% if activelink == 6 %} class="active" {%endif %} href={% url 'tours' %}>Tours</a><i class="fa-solid fa-globe"></i></span>
    <span><a {% if activelink == 7 %} class="active" {%endif %} href={% url 'research' %}>Research</a><i class="fa-solid fa-arrow-right"></i></span>
    
    {% if user.is_authenticated %}
      <span class="account_start">
        <a {% if activelink == 8 %} class="active" {% endif %} href="{% url 'dashboard' %}">{{ user.username }}</a><i class="fa-solid fa-user"></i>
      </span>
      <span>
        <a {% if activelink == 9 %} class="active" {% endif %} href="{% url 'members' %}">All Members</a>
        <i class="fa-solid fa-user"></i>
      </span>
      <span>
        <a {% if activelink == 8 %} class="active" {% endif %} href="{% url 'alterprofile' user.id %}">Settings</a><i class="fa-solid fa-gear"></i>
      </span>
      <span>
        <a {% if activelink == 10 %} class="active" {% endif %} href="{% url 'logout' %}">Logout</a>
        <i class="fa-solid fa-sign-out"></i>
      </span>
    {% else %}
      <span class="account_start">
        <a {% if activelink == 9 %} class="active" {% endif %} href="{% url 'members' %}">All Members</a>
      </span>
      <span>
        <a {% if activelink == 12 %} class="active" {% endif %} href="{% url 'login' %}">My Account</a>
        <i class="fa-solid fa-user"></i>
      </span>
    {% endif %}
    </span>
  </div>
</div>