<!-- Filename: capsform.html-->
{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/caps.css' %}">
{% endblock %}

{% block content %}
<div class="section blackbg top">
  <div class="row long">
    <hr>
    <div class="wide_split">
        <p class="section_title">Successfully sent.</p>
    </div>
    <p>A store representative will be in contact with your team shortly.</p>
  </div>
</div>
{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}