{% extends 'preview_base.html' %}

<!-- load static -->
{% load static %}

<!-- stylehseet for this page -->
{% block customcss %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="section top blackbg">
  <div class="row long">
    <hr>
    <p class="section_title">Welcome back, <br /> {{user.username}}</p>
    <p>coach dashboard<p>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <span class="section_title">My teams</span>
    <div class="section_content">
      {% for team in coached_teams %}

      <p>
        <!-- Display team information and management options -->
        <a class="button-link light" href="{% url 'alterteam' team.id %}">{{ team.name }}</a></li>
      </p>
      {% endfor %}
    </div>
  </div>
</div>

<div class="section blackbg">
  <div class="row long">
    <hr>
    <span class="section_title">My events</span>
    
    <p><a class="link light" href="#">Create an event</a></p>
    <!-- Events Component -->
    {% include 'components/event_feed.html' %}
  
  </div>
</div>

{% endblock %}

{% block customjs %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}